<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    .movieBoard { border : 1px solid tomato }
  </style>
</head>
<body>
  <div id="app">
    <div v-show="isLoading"><img src="5780991.png"></div>
    <input v-model="targetDt" ><button @click="getMovies(targetDt)">검색</button>
    <div  v-for="mv in movies" class="movieBoard">
        <span>{{mv.movieNm}}</span> <span v-text="mv.movieCd" @click="movieInfo(mv.movieCd)"></span>
    </div>
    <div>actors : <span v-for="actor in actors">{{actor.peopleNm}}</span></div>
    <div>directors : <span v-for="director in directors">{{director.peopleNm}}</span></div>
  </div>
  <script>
    const url = 'https://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=f5eef3421c602c6cb7ea224104795888&targetDt='
    let infourl = 'https://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=f5eef3421c602c6cb7ea224104795888&movieCd='
    Vue.createApp(
    {
      data() {  return { movies : [ {movieNm:'듄', movieCd:200}],
                        actors :[{peopleNm:'홍길동'}, {peopleNm:'김기자'}],
                        directors : [{peopleNm:'나감독'},{peopleNm:'이감독'}],
                        isLoading : false,
                        targetDt : ''

                } 
      },
      methods : {
        movieInfo(movieCd) {
          this.isLoading = true;
          fetch(infourl+movieCd)
          .then(res => res.json())
          .then(res => { this.actors = res.movieInfoResult.movieInfo.actors;
            this.directors = res.movieInfoResult.movieInfo.directors;
                        this.isLoading = false;} )
        },
        getMovies(dt){
          this.isLoading = true;
          fetch(url+dt)
          .then(res => res.json())
          .then(res => { this.movies = res.boxOfficeResult.dailyBoxOfficeList;
                        this.isLoading = false;} )
        }

        //버튼클릭핸들러 -> input ->  getMovies(dt)호출
      },
      created(){
        this.getMovies('20240603')
      },
      

    }).mount("#app");
     

  </script>
</body>
</html>